In [3]:
import sqlite3
import pandas as pd
import numpy as np

# specify db
path_to_db = '/projects/greengenes2/gg2_bakta.db'

# # template for execute commands
# command = """
# """
# cursor.execute(command)
# conn.commit()

# # template for running queries and display results in pandas df
# query = """
# """
# df = pd.read_sql_query(query, conn)
# df

# sqlite documentation
# https://www.tutorialspoint.com/sqlite/sqlite_truncate_table.htm

# useful sql command
# delete from table_name
# drop table table_name

# things to note
# table: identifier
# strip filename of all suffixes when inserting records to identifier.
# active = 1, inactive = 0

### 1. Create db

In [3]:
# The specified db is created when the code below is run for the first time
conn = sqlite3.connect(path_to_db)
conn.close()

### 2. Create tables

In [11]:
conn = sqlite3.connect(path_to_db)
cursor = conn.cursor()

#### 2.1 Show all tables in the db

In [26]:
query = '''
select name 
from sqlite_master
where type = 'table'
'''
df = pd.read_sql_query(query, conn)
df

              name
0  sqlite_sequence
1       identifier

#### 2.2 Create table: identifier

In [65]:
# create table: identifier
# current_timestamp gives time in UTC time zone, can use pytz package to convert to San Diego time if needed
command = """
CREATE TABLE IF NOT EXISTS identifier(
    entity_id integer primary key autoincrement, 
    filename varchar not null, 
    filepath varchar not null, 
    external_accession varchar, 
    external_source varchar, 
    active int default 1,
    created_at timestamp default current_timestamp,
    unique(filename, filepath),
    unique(external_accession, external_source)
);
"""

cursor.execute(command)

conn.commit()

In [66]:
query = """
select * 
from identifier
"""
df = pd.read_sql_query(query, conn)
df

,entity_id,filename,filepath,external_accession,external_source,active,created_at
0,1,UMB1068_final.fasta,/projects/greengenes2/genome_collection/UMB106...,UMB1068,wolfe_urogenital,1,2023-09-13 05:18:01
1,2,UMB1025_final.fasta,/projects/greengenes2/genome_collection/UMB102...,UMB1025,wolfe_urogenital,1,2023-09-13 05:18:01
2,3,UMB1027_final.fasta,/projects/greengenes2/genome_collection/UMB102...,UMB1027,wolfe_urogenital,1,2023-09-13 05:18:01
3,4,UMB1046_final.fasta,/projects/greengenes2/genome_collection/UMB104...,UMB1046,wolfe_urogenital,1,2023-09-13 05:18:01
4,5,UMB1062_final.fasta,/projects/greengenes2/genome_collection/UMB106...,UMB1062,wolfe_urogenital,1,2023-09-13 05:18:01

In [48]:
# # testing autoincremental id, active, created_at, and unique constraints
# command = """
# insert into identifier(filename, filepath) values ('fn_01', 'fp_01')
# """
# cursor.execute(command)
# conn.commit()

# # this should give error as the combination of filename and filepath must be unique
# command = """
# insert into identifier(filename, filepath) values ('fn_01', 'fp_01')
# """
# cursor.execute(command)
# conn.commit()

# # display contents of the table
# query = """
# select * 
# from identifier
# """
# df = pd.read_sql_query(query, conn)
# df

# # truncate table
# command = """
# delete from identifier
# """
# cursor.execute(command)
# conn.commit()

# # delete table
# command = """
# drop table identifier
# """
# cursor.execute(command)
# conn.commit()

In [62]:
# # testing 5 external genomes
# records = [
#     ('UMB1068_final.fasta','/projects/greengenes2/genome_collection/UMB1068_final.fasta','UMB1068','wolfe_urogenital'),
#     ('UMB1025_final.fasta','/projects/greengenes2/genome_collection/UMB1025_final.fasta','UMB1025','wolfe_urogenital'),
#     ('UMB1027_final.fasta','/projects/greengenes2/genome_collection/UMB1027_final.fasta','UMB1027','wolfe_urogenital'),
#     ('UMB1046_final.fasta','/projects/greengenes2/genome_collection/UMB1046_final.fasta','UMB1046','wolfe_urogenital'),
#     ('UMB1062_final.fasta','/projects/greengenes2/genome_collection/UMB1062_final.fasta','UMB1062','wolfe_urogenital')
# ]

# for rec in records:
#     cursor.execute("insert into identifier(filename, filepath, external_accession, external_source) values (?, ?, ?, ?)", rec)

# conn.commit()

In [67]:
conn.close()